html, body{ margin: 0; padding: 0; height:100%;} 
body, pre{
	font-family: 'Open Sans', sans-serif;
}
body{
	background-color: #EEEEEE;
}
.center{
	color: white;
	font-size: 1.5em;
	height: 200px;
	display: -webkit-flex;
    display: flex;
	justify-content: center;
	align-items: flex-start;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #CCCCCC;
}
#top-level-div {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
	position: relative;
}
#body-background{
    width:100%;
	position: relative;
}
.body-card-buffer{
    width: 100%;
    max-width: 1300px;
	position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
	top: -75px;
    
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
}
.carddiv{
    width: 300px;
    max-height: 600px;
    margin: auto;
    
    
	background-color: white;
	margin: 10px;
    padding-bottom: 10px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);
    
    display: -webkit-flex;
    display: flex;
    flex-flow: column;
    
    transition: left 1s, top 1s, width 1s, height 1s;
    transition-timing-function: ease-out;
}
.carddiv > .card-text{
    -webkit-box-flex: 0 1;
    -moz-box-flex: 0 1;
    -webkit-flex: 0 1;
    -ms-flex: 0 1;
    flex: 0 1;
    padding-left: 20px;
    padding-right: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.carddiv h3, .carddiv h4{
    padding-left: 20px;
    padding-right: 20px;
}
.carddiv > h3{
    margin: 0;
    -webkit-box-flex: 0 0;
    -moz-box-flex: 0 0;
    -webkit-flex: 0 0;
    -ms-flex: 0 0;
    flex: 0 0;
    font-size: 1.4em;
    font-weight: normal;
	line-height: 24px;
    padding-top: 30px;
}
.carddiv > h4{
    margin: 0;
    -webkit-box-flex: 0 0;
    -moz-box-flex: 0 0;
    -webkit-flex: 0 0;
    -ms-flex: 0 0;
    flex: 0 0;
	font-size: .95em;
	font-weight: normal;
    font-style: italic;
    line-height: 30px;
	margin-bottom: 20px;
}
.icon{ 
    -webkit-box-flex: 0 0;
    -moz-box-flex: 0 0;
    -webkit-flex: 0 0;
    -ms-flex: 0 0;
    flex: 0 0;
    width: 100%;
}
.carddiv p, .carddiv pre, .carddiv a{
	color: #555;
	clear: both;
    margin-top: 0;
    font-size: 1em;
    line-height: 25px;
}
.expand{
    width:100%;
    max-height: none;
    margin: 0;
}
.expand p{
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0;
    -ms-flex: 0;
    flex: 0;
}
.read-more{
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: underline;
    cursor: pointer;
}


.nav{
    display: -webkit-flex;
	display: flex;
	align-items: stretch;
	position:relative;
	z-index: 1000;
}
.tab{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
	flex: 1;
	text-align: center;
	position: relative;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #EEEEEE;
	
}
.tab > a{
	padding: 20px;
	text-decoration: none;
	font-weight:bold;
	font-size:1.25em;
	color: #FFFFFF;
	display:block;
}
.tab:hover > a{
	text-decoration: underline;
}
#current-tab > a{
	color: rgb(8,191,215);
}
hr{
	margin-bottom: -2px;
	height: 3px;
	width: 50%;
	margin: 0;
	border: none;
	background-color: rgb(8,191,215);
}

@keyframes tabToRight {
	0% { margin-left: 0;}
	100% { margin-left: 50%;}
}
@keyframes tabToLeft {
	100% { margin-left: 0;}
	0% { margin-left: 50%;}
}
.scene_element {
    animation-duration: .5s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
}
.scene_element--lefttab{
	animation-name: tabToLeft;
}
.scene_element--righttab{
	animation-name: tabToRight;
}-
