html, body {
    font-family: 'Roboto', 'Noto', sans-serif;
}
.cards{
    padding: 5px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
paper-card{
    margin: 5px;
    width: 100%;
}