@CHARSET "ISO-8859-1";
.welcome{
    background: #5D8649;
}
.me{
	background: #866150;
}
.cs{
	background: #ADB0E7;
}
.stem{
	background: #F1D3AC;
}
.hum{
	background: #A1E7D7;
}
.math{
	background: #ECF1A8
}
.french{
	background: #E7A1D5;
}
.physics{
	background: #A0D388;
}