@CHARSET "ISO-8859-1";
html, body { margin: 0; padding: 0; background-color: #EEEEEE} 
#topbar {
    background-color: #A0D388;
}
body{
	font-family: 'Open Sans', sans-serif;
}
.carddiv{
	color: black;
	background-color: white;
	max-width: 1000px;
	margin: auto;
	padding: 30px;
	padding-bottom: 90%;
}
.center{
	color: white;
	text-align: center;
	font-size: 1.5em;
	padding-bottom: 30px;
}

#nav{
    list-style: none;
    font-weight: bold;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    height:38px;
}
#nav ul{
	list-style-type: none;
	margin: 0px;
	padding: 0;
	width: 100%;
}
#nav li{
	margin: 0px;
	display:
}
#nav li a {
	margin-left: 10px;
	margin-right: 10px;
	padding: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    color: #FFFFFF;
    float: left
}
#nav li a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}