@CHARSET "ISO-8859-1";
html, body { margin: 0; padding: 0; height:100%;} 
body{
	font-family: 'Open Sans', sans-serif;
}
.center{
	color: white;
	text-align: center;
	font-size: 1.5em;
	padding: 30px;
}
.as-table {
    display: table;
    height: 100%;
    width: 100%;
}
.as-table-row{
	background-color: #EEEEEE;
    display:table-row;
	height: 100%;
}
.carddiv{
	color: black;
	background-color: white;
	max-width: 800px;
	margin: auto;
	padding: 30px;
	height:100%;
	border-style: solid;
	border-width: 1px;
	border-color: #DDDDDD;
}
#nav{
	display: flex; 
	align-items: stretch; 
}
.tab{
	flex: 1;
	text-align: center;
}
.tab a{
	text-decoration: none;
	font-weight:bold;
	font-size:1.2em;
	color: #FFFFFF;
	display:block;
	padding: 10px;
}
.tab a:hover{
	color: #FFFFFF;
	text-decoration: underline;
}