@CHARSET "ISO-8859-1";
.welcome{
    background: #A0D388;
}
.me{
	background: #EADF8B;
}
.portfolio{
	background: #A0D388;
}
.cs{
	background: #ADB0E7;
}
.stem{
	background: #F1D3AC;
}
.stw{
	background: #4581B7;
}
.hum{
	background: #3EBD8D;
}
.math{
	background: #FFC573
}
.french{
	background: #E7A1D5;
}
.physics{
	background: #A0D388;
}