@CHARSET "ISO-8859-1";
html, body, h3,h4 { margin: 0; padding: 0; height:100%;} 
body, pre{
	font-family: 'Open Sans', sans-serif;
}
body{
	background-color: #EEEEEE;
}
.tab > a{
	text-decoration: none;
	font-weight:bold;
	font-size:1.2em;
	color: #FFFFFF;
	display:block;
}
.center{
	color: white;
	font-size: 1.5em;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
#top-level-div {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
	position: relative;
}
#body-background{
	flex: 1;
	position: relative;
}
.body-card-buffer{
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: flex-start;
	
	position: absolute;
	top: -75px;
	width: 100%;
}
.stretch-to-bottom{
	height: calc(100% + 75px);
}
.carddiv{
	flex:1;
	width: 100%;
	
	background-color: white;
	max-width: 800px;
	padding: 30px;
	padding-bottom: 10px;
	margin-bottom: 20px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);
	
}
.carddiv > h3{
	font-size: 1.3em;
	line-height: 24px;
}
.carddiv > h4{
	font-size: 1em;
	font-weight: normal;
	line-height: 30px;
	margin-bottom: 20px;
}
.carddiv > p, .carddiv > pre, .carddiv > a{
	color: #555;
	clear: both;
}
.nav{
	display: flex; 
	align-items: stretch;
	position:relative;
	z-index: 1000;
}
.tab{
	flex: 1;
	text-align: center;
	position: relative;
}
.tab > a{
	padding: 10px;
}
.tab:hover > a{
	text-decoration: underline;
}
#current-tab{
	color: #3399FF;
}